
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
composer.lock
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/webpack-encore-bundle ###
/node_modules/
npm-debug.log
yarn-error.log
/public/build/
package-lock.json
###< symfony/webpack-encore-bundle ###

###> storage ###
/storage
###< storage ###