parameters:
    level: 6
    paths:
        - config
        - src
        - tests
    treatPhpDocTypesAsCertain: false
includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
