<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.0/phpunit.xsd"
    colors="true"
    verbose="true"
    cacheResult="false"
>
    <php>
        <server name="APP_ENV" value="dev" force="true"/>
        <server name="SYMFONY_DEBUG" value="0"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
        <server name="SYMFONY_PHPUNIT_REMOVE" value=""/>
        <server name="SYMFONY_PHPUNIT_VERSION" value="9.5"/>

        <env name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="SYMFONY_DEBUG" value="0"/>

        <env name="REMOTE_ADDR" value="127.0.0.1"/>
        <env name="HTTP_CLIENT_IP" value="127.0.0.1"/>
        <env name="HTTP_HOST" value="127.0.0.1"/>
        <env name="HTTP_USER_AGENT" value="test"/>
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory suffix=".php">./tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
