{% extends 'errors/base-error.html.twig' %}

{% block title %}
    Error: 500, Internal Server Error
{% endblock %}

{% block body %}
<p class="error-page-msg">
    <strong>
        The server encountered an unexpected condition that prevented it from fulfilling the request
        <br><br>
        Please check the address bar or contact your administrator
    </strong>
</p>
{% endblock %}