{% extends 'errors/base-error.html.twig' %}

{% block title %}
    Error: 404, Page not found
{% endblock %}

{% block body %}
<p class="error-page-msg">
    <strong>
        Error this page was not found
        <br><br>
        Please check the address bar or contact your administrator
    </strong>
</p>
{% endblock %}