{% extends 'errors/base-error.html.twig' %}

{% block title %}
    Error: 503, page is unavailable
{% endblock %}


{% block body %}
<div class="bg-primary d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <p class="lead fw-bold text-light">
            The service is temporarily unavailable due to maintenance
        </p>
    </div>
</div>
{% endblock %}