{% extends 'errors/base-error.html.twig' %}

{% block title %}
    Error: 503, page is unavailable
{% endblock %}


{% block body %}
<p class="error-page-msg">
    <strong>
        The service is temporarily unavailable due to maintenance
    </strong>
</p>
{% endblock %}