{% extends 'errors/base-error.html.twig' %}

{% block title %}
    Error: 404, Page not found
{% endblock %}

{% block body %}
<div class="bg-primary d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold text-light">404</h1>
        <p class="fs-3"><span class="text-danger">Opps!</span></p>
        <p class="lead text-light">
            Error this page was not found
        </p>
        <a href="/" class="btn btn-outline-info">Go Home</a>
    </div>
</div>
{% endblock %}