{% extends 'errors/base-error.html.twig' %}

{% block title %}
    Error: 520, unknown error
{% endblock %}

{% block body %}
<p class="error-page-msg">
    <strong>
        Unknown error, please contact the service administrator.
    </strong>
</p>
{% endblock %}