{% extends 'errors/base-error.html.twig' %}

{% block title %}
    Error: 520, unknown error
{% endblock %}

{% block body %}
<div class="bg-primary d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold text-light">520</h1>
        <p class="fs-3"><span class="text-danger">Opps!</span></p>
        <p class="lead text-light">
            Unknown error, please contact the service administrator.t.
        </p>
        <a href="/" class="btn btn-outline-info">Go Home</a>
    </div>
</div>
{% endblock %}