{% extends 'errors/base-error.html.twig' %}

{% block title %}
    Error 400, Bad request
{% endblock %}


{% block body %}
<p class="error-page-msg">
    <strong>
        Request error
        <br><br>
        Please check the address bar or contact your administrator
    </strong>
</p>
{% endblock %}