<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Encrypted self-hosted gallery" name="description">
    <meta content="self-hosted encrypted gallery image album" name="keywords">
	<link rel="icon" href={{ asset('/build/images/favicon.png') }} type="image/x-icon"/>
    <title>{% block title %}{% endblock %}</title>
    
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <!-- import lightgallery css -->
    <link href={{ asset('/build/lightgallery/css/lightgallery.css') }} rel="stylesheet">
</head>
<body class="bg-primary">
    {% block body %} {% endblock %}
</body>
</html>