<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Encrypted self-hosted gallery" name="description">
    <meta content="self-hosted encrypted gallery image album" name="keywords">
    <link href={{ asset('assets/app.css') }} rel="stylesheet">
	<link rel="icon" href={{ asset('/assets/images/favicon.png') }} type="image/x-icon"/>
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="bg-primary">
    {% block body %}{% endblock %}
    <script src={{ asset('assets/app.js') }}></script>
</body>
</html>