{% extends 'bases/base.html.twig' %}

{% block title %}
    Engal | Gallery
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gallery/_1337_all/1">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gallery/_1337_random">Random</a>
                </li>
            </ul>
        </div>
        <div class="d-flex">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item me-2">
                    <a class="nav-link" href="/upload">Upload</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<center>
    <div class="container mt-5">
        {% if galleries|length == 0 %}
            <h5 class="text-light">
                You can start uploading 
                <a class="page-button underline" href="/upload">here</a>
            </h5>
        {% endif %}
        {% for value in galleries %}
            <div class="gallery-link" id="gallery2">
                <a href="/gallery/{{ value.name }}/1" class="link-text">
                    <img class="image-link" src="data:image/jpg;base64,{{ value.thumbnail }}" alt={{ value.name }}>
                    {{ value.name }}
                </a>
            </div>
        {% endfor %}
    </div>
</center><br>

{% endblock %}