{% extends 'base.html.twig' %}

{% block title %}
    Engal | Home
{% endblock %}


{% block body %}
<div class="container">


    <p class="desc">
        Engal is self-hosted private encrypted gallery
        <div class="nav-button-box">
            <a class="nab-button" href="#">Login</a>
            <a class="nab-button" href="#">Register</a>
        </div>
    </p>
</div>
{% endblock %}