{% extends 'base.html.twig' %}

{% block title %}
    Engal | Home
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Engal</a>
    </div>
</nav>

<div class="container mt-5">
    <div class="bg-dark card text-light text-center">
        <div class="card-header">
            Basic information
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Encrypted gallery
            </h5>
            <p class="card-text">
                Engal is a self-hosted solution for storing your photos, simply store your memories on your home server.
            </p>
            <a href="/login" class="btn btn-outline-info">Login</a> <span>or</span>
            <a href="/register" class="btn btn-outline-info">Create account</a>
        </div>
    </div>
</div>

<footer class="footer bg-dark fixed-bottom text-right">
    <span class="text-light m-1 fw-bold">
        Engal coded by
        <a class="link-info" href="https://becvar.xyz" target="_blank" rel="nofollow">Lukáš Bečvář</a>
    </span>
</footer>

{% endblock %}