{% extends 'bases/base.html.twig' %}

{% block title %}
    Engal | Register
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Engal</a>
    </div>
</nav>

<center>
    <div class="container mt-5">
        <h5 class="text-light">
            New registration is currently disabled.
        </h5>
    </div>
</center><br>
{% endblock %}