name: PHP-CodeSniffer

on:
  push:
    branches:
      - main
      - dev

jobs:
  phpcs:
    name: PHP CodeSniffer
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    # setup PHP
    - name: Set up PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: 8.5

    # install composer dependencies
    - name: Install dependencies
      run: composer install --no-interaction --no-progress --no-suggest
      working-directory: ./backend

    # test PSR-12 coding standard
    - name: Run PHP CodeSniffer
      run: vendor/bin/phpcs
      working-directory: ./backend
