* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #292e33;
}

.loading {
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.not-found-msg {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5%;
}

/* NAVIGATION */
.navigation {
    background: #343a40;
}

.navigation ul li {
    display: inline;
    margin-right: 5px;
}

.nav-link {
    color: #e1e7ec;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
}

.nav-link:hover {
    color: #adcae0;
}

/* COUNTER BAR */
.stats-bar {
    color: white;
    background: #2b3035;
    border-bottom: 1px solid #30363b;
    font-size: 18px;
}

/* GALLERY LIST */
.gallery-list {
    text-align: center;
}

.static-gallery-link {
    margin-top: 1%;
    margin-bottom: 20px;
    list-style-type: none;
    color: white;
}

.gallery-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid white;
    padding-left: 3px;
    padding-right: 3px;
}

/* GALLERY */
.gallery-box {
    margin-bottom: 30px;
}

.gallery-link:hover {
    color: rgb(182, 80, 80);
}

.gallery-links {
    list-style-type: none;
}

.image-item {
    border: 1px solid red;  
    max-width: 200px;
}

.page-button-box {
    background: #343a40;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.page-button {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 5px;
}

.page-button:hover {
    color: rgb(216, 99, 99)
}

/* DELETE FORM */
.delete-form {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

.delete-title {
    color: white;
    font-size: 18px;
    text-align: center;
}

.delete-buttons {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.delete-button {
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 3px;
    text-decoration: none;
    border: 1px solid white;
    margin-right: 5px;
}

.delete-button:hover {
    border: 1px solid rgb(216, 99, 99);
    color: rgb(216, 99, 99);
}

/* EDITOR */
.editor {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.editor-title {
    color: white;
}

.prew-img {
    max-width: 200px;
}

/* UPLOADER */
.uploader {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.uploader-form {
    padding: 5px;
}

.uploader-title {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.text-input {
	border: 1px solid darkgrey;
	border-radius: 4px;
	background: #343a40;
	text-align: center;
	font-family: arial;
	font-size: 17px;
	margin: 3px;
	padding: 4px;
	color: white;
	transition: all 0.2s ease;
	width: 35%;
}

.file-input {
	border: 1px solid darkgrey;
	border-radius: 4px;
	background: #343a40;
	text-align: center;
	margin: 3px;
	padding: 4px;
	transition: all 0.2s ease;
	width: 35%;
    color:transparent;
}

.file-input:after {
    color: white;
    content: "click or drag files";
}

.submit-button {
	border: 1px solid darkgrey;
	border-radius: 4px;
	background: #343a40;
	text-align: center;
	font-family: arial;
	font-size: 17px;
	margin: 3px;
	padding: 4px;
	color: white;
	transition: all 0.2s ease;
	width: 35%;
}

.submit-button:hover {
    color: rgb(216, 99, 99);;
    border: 1px solid rgb(216, 99, 99);;
}

.info-box {
    color: white;
}

.info-text {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.name-line {
    color: rgb(44, 197, 44)
}

/* PHONE CSS */
@media screen and (max-width: 800px) {
    .lg-next, .lg-prev {
        display: none;
    }
}