/* main engal style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.component {
    background-color: #313131;
}

.ml-3 {
    margin-left: 3px;
}

button {
    border: none;
    background-color: transparent;
    padding: 0; 
    margin: 0;
}

.gallery-link {
    display: inline-block;
    margin: 5px;
    border: 2px solid #ccc;
    transition: transform 0.2s ease-in-out;
    background-color: rgb(20, 20, 20);
    width: 300px; 
    height: 300px; 
    overflow: hidden;
}
  
.link-text {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px ;
}
  
.gallery-link:hover {
    border: 1px solid #0f9785;
}
  
.gallery-link img {
    width: 100%;
    height: 91.5%;
    object-fit: cover; 
    border-bottom: 1px solid rgba(146, 146, 146, 0.945);
}

.gallery-images {
	margin: 10px;
	max-height: 400px;
	max-width: 80%;
	border: 1px solid rgba(146, 146, 146, 0.945);
	transition: all 0.2s ease;
}

.gallery-images:hover {
    transform: scale(1.01);
	border: 1px solid rgb(241, 53, 53);
}

.img-edit-button { 
	color: white;
	text-decoration: underline;
}

.img-edit-button:hover { 
	color: rgb(255, 83, 83);
	text-decoration: underline;
}

.page-button-box {
    position: fixed;
    width: 100%;
    bottom: 0;
}
  
.page-button {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 5px;
}
  
.page-button:hover {
    color: rgb(216, 99, 99)
}

.underline {
    text-decoration: underline;
}

@media screen and (max-width: 800px) { 
    .gallery-link {
        width: 150px; 
        height: 150px; 
    }
    .gallery-link img {
        height: 83%;
    }
}
